{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
                <div class="intro-message" align="center" text-color="#007ee5">
                    <h1>Welcome to EMS</h1>
                    </ul>
                    <br>
                    <br>
                    <br>
                    <a href="{{ url_for('account') }}" id="out" class="btn btn-outline-primary"> View My Profile</a>
                </div>
        </div>
    </div>
{% endblock content %}