{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid no-padding">
        <div class="row">
                <div class="intro-message">
                    <h2>Search an Employee</h2></br>
                    <form action="{{ url_for('search') }}" method="post">
                        <input type="text" name="name" placeholder="Name or Address">
                        <input type="submit" class="btn btn-outline-primary">
                    </form>
                </div>
        </div>
    </div>
{% endblock content %}